.footerContainer {
    background-color: rgba(24, 21, 206, 0.295);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.footerContent {
    color: rgb(25, 22, 218);
    font-size: 1rem;
}