.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
  }
  
  .headerTitle {
    font-size: 3rem;
    color: rgb(25, 22, 218);
  }
  
  .headerImage {
    width: 50%;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  