.footerContainer {
    background-color: #686AAC;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .footerContent {
    color: #fff;
    font-size: 1rem;
  }