img {
  width: 30rem;
  align-items: center;
  margin-left: 10rem;
}

.form {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formInput {
    width: 60%;
    padding: .6rem 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
    font-size: 1.2rem;
  }
  
  .formButton {
    width: 60%;
    padding: .6rem 2rem;
    background-color: #1c10ca;
    color: #fff;
    border: none;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: #4CA;
  }